.login__error {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  color: #FF0000;

  width: 358px;
  min-height: 30px;
  display: block;
  /*visibility: hidden;*/
}


.login__error:last-of-type {
  margin-bottom: 187px;
}

@media screen and (max-width:550px) {
  .login__error:last-of-type {
    margin-bottom: 143px;
  }
}