.popup__container_type-registration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 36px;
}

@media screen and (max-width: 600px) {
  .popup__container_type-registration {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (max-height: 420px) {
  .popup__container_type-registration {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}