.header__page {
  /* width: calc(880/1280*100%);*/
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 45px;
  transition: padding-top .2s linear;
}

@media screen and (max-width: 800px) {
  .header__page {
    width: 100%;
    padding-top: 28px;
  }
}