.register__button {
  width: 358px;
  height: 50px;
  margin-top: 216px;
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: center;

  border-bottom: 1px solid rgba(0,0,0,.2);
  box-sizing: border-box;
  background: #FFF;
  border-radius: 2px;

  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}