.login__input {
  width: 100%;
  height: 27px;
  display: flex;
  align-self: center;
  border: none;
  padding: 0 0 3px 0;
  color: #CCCCCC;

  border-bottom: 2px solid #CCCCCC;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background-color: transparent;
  outline: none;
  margin: 0; 
}