.header__email-container {
  display: flex;
  align-items: flex-start;
  padding-top: 6px;
  transition: visibility .2s linear, height .2s linear;
}

@media screen and (max-width:767px) {
  .header__email-container {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
  }
}